[Oo]bj/
[Bb]in/
.vs/
[Dd]ebug/
[Rr]elease/
Generated*/
*.suo
*.user
*.docstates
_ReSharper.*
*.csproj.user
SatellitePackageSample/packages/*
*.nupkg
VsCredentialProvider/packages/
Generated\ Files/*
globalPackagesFolder/