<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--Create a repo-specific global packages folder for full security benefit -->
  <config>
    <add key="globalPackagesFolder" value="globalPackagesFolder" />
  </config>

  <!-- Declare package sources/feeds -->
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
  </packageSources>

  <!--Map package ID prefixes and exact package IDs to specific sources target sources, so you always know where your packages come from -->
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="Microsoft.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NuGet.*" />
    </packageSource>
    <packageSource key="nuget-build">
      <package pattern="A" />
      <package pattern="B" />
      <package pattern="C" />
      <package pattern="NuGet.Protocol.VisualStudio" />
    </packageSource>
  </packageSourceMapping>

</configuration>
